<div class="row">
  <div *ngIf="product" class="col-6 offset-3 mt-4">
    <form #productForm="ngForm" (ngSubmit)="setProductToDatabase(product)">
      <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input name="name" [(ngModel)]="product.name" type="text" class="form-control" id="name" required autofocus>
        <div [hidden]="productForm.controls.name?.valid || productForm.controls.name?.pristine" class="error-message">
          Missing name!
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="price">Price:</label>
        <input name="price" [(ngModel)]="product.price" type="number" class="form-control" id="price" required>
        <div [hidden]="productForm.controls.price?.valid || productForm.controls.price?.pristine" class="error-message">
          Missing price!
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="category">Category:</label>
        <input name="category" [(ngModel)]="product.category" type="text" class="form-control" id="category" required
          autofocus>
        <div [hidden]="productForm.controls.category?.valid || productForm.controls.category?.pristine"
          class="error-message">
          Missing category!
        </div>
      </div>
      <div class="d-flex">
        <button type="button" class="btn btn-secondary btn-block w-50 mr-1" [routerLink]="['']"><i
            class="fa fa-arrow-left"></i> Back to the product list</button>
        <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary w-50" *ngIf="product.id === 0"><i
            class="fa fa-plus"></i> Create</button>
        <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary w-50" *ngIf="product.id !== 0"><i
            class="fa fa-floppy-o"></i> Save</button>
      </div>
    </form>
  </div>
</div>